<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115669332033-7mu7dijulmrj04gkf8o264vjf2tq85ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115669332033-7mu7dijulmrj04gkf8o264vjf2tq85ib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>115669332033-rrsqmfih4icemsldbofc6j4bq7batft9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiU6YtX76xM0Dn8SwyiVeiSKk7npNHFPY</string>
	<key>GCM_SENDER_ID</key>
	<string>115669332033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.biketrilhas</string>
	<key>PROJECT_ID</key>
	<string>biketrilhas-project</string>
	<key>STORAGE_BUCKET</key>
	<string>biketrilhas-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115669332033:ios:39fe3a8debc866855216c0</string>
	<key>DATABASE_URL</key>
	<string>https://biketrilhas-project.firebaseio.com</string>
</dict>
</plist>